<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}

	<section class="grid-row frame-layout frame-layout-0">
		<div class="container">   
			<div class="row flexrow">
				<div class="col-xs-12 col-md-9">
					<section id="c1051" class="main frame-layout frame-layout-0">
						<div class="container">
							<div class="frame frame-default frame-type-header ">


<h2>Password reset complete</h2>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>



							</div>
						</div>
					</section>
				
				</div>
			
				<div class="col-xs-12 col-md-3">
					
				</div>
			
			</div>
		</div>
	</section>






{% endblock %}