<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

	<section class="grid-row frame-layout frame-layout-0">
		<div class="container">   
			<div class="row flexrow">
				<div class="col-xs-12 col-md-9">
					<section id="c1051" class="main frame-layout frame-layout-0">
						<div class="container">
							<div class="frame frame-default frame-type-header ">







<h2>Set a new password!</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>





							</div>
						</div>
					</section>
				
				</div>
			
				<div class="col-xs-12 col-md-3">
					
				</div>
			
			</div>
		</div>
	</section>



{% endblock %}