<h1>{{ question.question_text }}</h1>

<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<p>Voted users: <strong>{% for voted_user in question.user_performed.all %}{{ voted_user }} {% endfor %}</strong></p>
<a href="{% url 'polls:results' question.id %}">results</a>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
{% if testtext %}<p><strong>{{ testtext }}</strong></p>{% endif %}